{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/fazerLista.css' %}">
</head>
<body class="bg-black">
    <h1  class="titulo">{{lista.nome}}</h1>
   <div class="container">
    <div><form action="" method="POST">
 
        {% csrf_token %}
    
       
       
    
       
          <div>  <label for="numero">Número</label>
            <input type="number" name="numero" required></div>
         
           <div>
            <label for="alternativa">Alternativa</label>
            <select name="alternativa" id="alternativa" >
               <option value="" disabled selected>---------</option>
                <option value="A">A</option>
                <option value="B">B</option>
                <option value="C">C</option>
                <option value="D">D</option>
                <option value="E">E</option>
               
            </select>
           </div>
           <div>
               
            <label for="grauDeCerteza">Grau de certeza</label>
            <select name="grauDeCerteza" id="" >
               <option value="" selected disabled>-------</option>
                <option value="CERTEZA">CERTEZA</option>
                <option value="DUVIDA">DUVIDA</option>
                <option value="CHUTE">CHUTE</option>
           
               
            </select>
           </div>
         <div>   <label for="addSimulado">Adicionar para simulado geral</label>
            <input type="checkbox" name="addSimulado" id="">
            </div>
           
            
        
        
       <div>
        <input  class=" btn bg-danger mx-auto btnSubmit" type="submit">
       </div>
    
    </form>
</div>
        <div class="questoes">
              <h1>QUESTÕES:</h1>
               <p> {% for q in questoes %}
                ({{q.numero}} - {{q.alternativaMarcada}})
            {% endfor %}</p> 
        </div>
        <div class="divFinalizar"> <button class="btn bg-primary finalizar">Lançar gabarito</button></div>
   </div>
  
    <form action="{% url 'lancarGabarito' lista.id %}" method="get">
     
        {% csrf_token %}

      <div class="d-flex">
        <input class="btn bg-success btnSim" type="submit" value="SIM">
        <input class="btn bg-danger btnNao" type="button" value="NÃO" >
      </div>
    </form>


    <script>
        let finalizar = document.querySelector('.finalizar')
        let btnNao = document.querySelector('.btnNao')
        let btnSim = document.querySelector('.btnSim')

        finalizar.addEventListener('click',() => {

            btnNao.style.display = 'inline'
            btnSim.style.display = 'inline'

        })
        btnNao.addEventListener('click', ()=>{
            
            btnNao.style.display = 'none'
            btnSim.style.display = 'none'
        })
    </script>
</body>
</html>