body{
    background-color: black;
    color: white;
}
.lancarGabaritoInput{
    width: 5vw;

}
.divInputLancarGabarito{
    margin: 3vh;
    width: 15vw;
    margin-left: auto;
    margin-right: auto;

}

